<hr>
<h1>Componente 1</h1>

<button (click)="aumetarEdad()">Aumentar Edad</button>
<button (click)="quitarEdad()">Disminuir Edad</button>

<h3 [style.background]="edad >= 18 ? 'green' : 'red'">
  Mi edad es: {{edad}}
</h3>

<div *ngIf="edad >= 18">
  <h2>Soy Mayor</h2>
</div>

<div *ngIf="edad < 18">
  <h2>Soy Menor</h2>
</div>

<h2>Lista de Nombres</h2>

<div>
  <table>
    <tr *ngFor="let nombre of nombres; let indice = index">
      <td>{{indice}}</td>
      <td>{{nombre}}</td>
    </tr>
  </table>
</div>


<h2>Lista de Personas</h2>

<div>
  <table>
    <tr>
      <td>indice</td>
      <td>Nombre</td>
      <td>Edad</td>
      <td>Empresa</td>
    </tr>
    <tr *ngFor="let persona of personas; let indice = index">
      <td>{{indice}}</td>
      <td>{{persona.name}}</td>
      <td>{{persona.age}}</td>
      <td>{{persona.job}}</td>
    </tr>
  </table>
</div>

