<h1>Bienvenidos a Angular - {{title}}</h1>

<h2>{{nombre}}</h2>

<div style="border: 3px solid darkred">
<primer-componente></primer-componente>
<app-segundo-componente></app-segundo-componente>
</div>
